.widgets{
    
    flex: 0.3;
    overflow-y: scroll;
}
.widgets_inputs{
    background-color: var(--tweet-background-color);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.widgets_inputs > input{
    border: none;
    background-color: var(--tweet-background-color);
}
.widgets_searchicon{
    color: gray;
}
.widgets_container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}